body {
  height: 500px;
  display: flex;
  border: solid;
  justify-content: center;
  flex-direction: row;

}

.box {
  width: 6em;
  background-color: blueviolet;
  height: 4em;
  /* margin: 2em; */
}